<%= render "shared/header" %>

<h1>問題一覧</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr class="table-dark">
      <th scope="col">配信日</th>
      <th scope="col">タイトル</th>
      <th scope="col">カテゴリー</th>
      <th scope="col">作成者</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @learnings.each do |learning| %>
    <tr>
      <td><%= learning.schedule_at.to_s(:datetime_jp) %></td>
      <th scope="row"><%= link_to learning.title, learning_path(learning.id) %></th>
      <td><%= learning.category.name %></td>
      <td><%= learning.user.family_name %></td>
      <td><%= link_to '詳細', learning_path(learning.id) %>
      <td><%= link_to '編集', edit_learning_path(learning.id) %></td>
      <td><%= link_to '削除', learning_path(learning.id), method: :delete, data: {confirm: "削除しますか？"} %></td>
      <td><%= link_to '回答する', learning_plays_path(learning.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>