<%= render "shared/header" %>

<h1>回答画面</h1>

<div>【タイトル】</div>
<div>
  <%= @learning.title %>
</div>

<div>【カテゴリー】</div>
<div>
  <%= @learning.category.name %>
</div>

<div>【説明・コメント】</div>
<div>
  <%= @learning.comment %>
</div>

<div>
<%= form_with model:[@learning,@play], url: learning_plays_path, local: true do |f| %>
  <% @questions.each do |qu| %>
    <div>【問題】</div>
        <div>
          <%= qu.question %>
        </div>
        <%= f.fields_for :answers do |a| %>
        <div>
          <label><%= a.radio_button :answer, "true" %><%= qu.content_1 %></label>
        </div>
        <div>
          <label><%= a.radio_button :answer, "true" %><%= qu.content_2 %></label>
        </div>
      <% end %>
    <% end %>
  <%= f.submit "答え合わせ" %>
<% end %>
</div>


<%= link_to '一覧にもどる', root_path %>